<div>
<h1><%= @article.title %></h1>
<%= link_to "edit", edit_article_path %>
<%= link_to "delete", article_path(@article), method: :delete, data: { confirm: "Delete #{@article.title}?"} %>
</div>

<p><%= @article.content %></p>
<img src="http://lorempixel.com/800/300/city/" alt="photo" width = 400px>
<h2>Organic asymmetric success</h2>
<p>
Molestiae corrupti quae modi ab. Et modi quos suscipit consequatur nulla. Distinctio dignissimos non nisi fugit rerum ducimus sed. Architecto odit error expedita optio.

Enim ea ullam ab aliquid eaque. Modi quo corrupti libero aliquid eum. Quos labore quia blanditiis consectetur.

quisquam Fuga rem non.Est voluptatum ut.Ut reprehenderit at vel omnis ut possimus.
</p>

<h2>Expanded disintermediate frame</h2>

<p>
Mollitia itaque iste minima consequatur molestiae est sit.Quia et perspiciatis officia neque beatae officiis.Ut nihil doloribus. Incredible Cotton Clock Neque excepturi iusto.Sunt pariatur nam optio nihil.Et aperiam quibusdam suscipit nisi.

Non impedit ullam sunt maxime corrupti officiis reiciendis. Sapiente quia rem. Iure quos voluptatem nobis voluptate ratione rerum.

Numquam deleniti accusantium dolores ipsum. Ut sed praesentium enim quod. Doloribus enim accusantium tenetur vel. Voluptas et eum modi.

Laboriosam quos eius eveniet. Aspernatur dolores deleniti consequatur. Quo doloribus non animi fugiat recusandae laborum. Debitis excepturi expedita consequatur natus. Fugiat dolorem ab quia ratione ipsam et.
</p>
